# Python
__pycache__/
*.py[cod]
*$py.class
.venv
venv/
ENV/
env/
build/
dist/

# Conda
.conda/
/opt/homebrew/Caskroom/miniconda/base/envs/omni-resolve-agentic

# Environment variables
.env

# OS
.DS_Store

# Data
data/*.csv
data/*.json
data/*.parquet
!data/.gitkeep
